<!DOCTYPE html>
<html>
    <head>
        <title>Hello World!</title>
    </head>
    <body>
      <div class="container">
        <div class="panel panel-default">
          <div class="panel-title">
            <h1>Here are some things to do:</h1>
          </div>
          <ul class="list-group">
            {% for row in rows %}
            <li class="list-group-item">{{ row.title }} ({{ row.notes }})</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    </body>
</html>
